<h1>Merhaba</h1>
<app-test2-test> </app-test2-test>
<!-- bu sayfaya eklenen her sey index.html icindeki <app-root> </app-root> tag i arasina bastirilir-->
<!-- normalde html de <app-root></app-root> tag i yoktur ancak 
  angular bize componentler araciligiyla html etiketleri olusturabilmemize olanak saglar -->


  <!-- 
    * uygulama tamamen ts dosyalari uzerinden calisir ve ts de component yapisi kullanildiginda ts mutlaka html yapisi uretmek  zorundadır
    * ancak  templateUrl: './app.component.html', oldugu icin yani html dosyasi verdigimiz icin boyle uretecektir
    * template: '', dersek bu app.component.ts icerisine html kodu yazabilmemizi saglar
    * exemp->    template: <h1></h1>, (app.component.ts icine yazilacak)
  -->

